<mat-card style="height: 400px;">
    <mat-card-header>
      <mat-card-title>Economics</mat-card-title>
      <mat-card-subtitle>Activities</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-card-content style="text-align: center;">
        No activities yet
        <!--<mat-list role="list">
            <mat-list-item>
                <span mat-line>First Test</span>
               <span>20</span>
            </mat-list-item>
            
            <mat-list-item ><span mat-line>Second Test</span>
             <span>30</span>
            </mat-list-item>
            
            <mat-list-item><span mat-line>Third Test</span>
             <span>30</span>
            </mat-list-item>
            
          </mat-list>-->
    </mat-card-content>
  </mat-card>

 