
<div fxFlex  fxLayout="row wrap" fxLayoutAlign="space-evenly center">

<mat-card class="card" fxLayout="row wrap" fxLayoutAlign="space-around none"  fxFlex="75%" fxFlex.gt-sm="18%" fxFlex.sm="45%" fxFlex.md="30%">

    <div fxFlex="50%" fxFlex.md="30%" fxFlex.sm="35%" style="padding-top:20px; font-size:70px">
    <span>
      <mat-card-title >61</mat-card-title>
    <mat-card-subtitle>Schools</mat-card-subtitle>
    </span>
 </div>
    <div [class]="activeClass" class="cyan" fxFlex="50%" fxFlex.sm="30%" fxFlex.xs="30%" fxFlex.md="30%">
    <span>
    <i id="school" class="fas fa-school"></i>
    </span> 
    </div>
    <div fxFlex="100%">
    <mat-divider></mat-divider>  
    <mat-card-actions>View Details</mat-card-actions>
    </div>

</mat-card>

<mat-card class="card" fxLayout="row wrap" fxLayoutAlign="space-around none"  fxFlex="75%" fxFlex.gt-sm="18%" fxFlex.sm="45%" fxFlex.md="30%">

    <div fxFlex="50%" fxFlex.md="30%" fxFlex.sm="35%" style="padding-top:20px; font-size:70px">
    <span>
      <mat-card-title >61</mat-card-title>
    <mat-card-subtitle>Affiliates</mat-card-subtitle>
    </span>
 </div>
    <div [class]="activeClass" class="pink" fxFlex="50%" fxFlex.sm="30%" fxFlex.xs="30%" fxFlex.md="30%">
    <span>
    <i class="fas fa-users-cog"></i>
    </span> 
    </div>
    <div fxFlex="100%">
    <mat-divider></mat-divider>
    <mat-card-actions>view Details</mat-card-actions>
    </div>

</mat-card>

<mat-card class="card" fxLayout="row wrap" fxLayoutAlign="space-around none"  fxFlex="75%" fxFlex.gt-sm="18%" fxFlex.sm="45%" fxFlex.md="30%">

    <div fxFlex="50%" fxFlex.md="30%" fxFlex.sm="35%" style="padding-top:20px; font-size:70px">
    <span>
      <mat-card-title >61</mat-card-title>
    <mat-card-subtitle>Students</mat-card-subtitle>
    </span>
 </div>
    <div [class]="activeClass" class="green" fxFlex="50%" fxFlex.sm="30%" fxFlex.xs="30%" fxFlex.md="30%">
    <span>
    <i class="fas fa-user-graduate font"></i>
    </span> 
    </div>
    <div fxFlex="100%">
    <mat-divider></mat-divider>
    <mat-card-actions>view Details</mat-card-actions>
    </div>

</mat-card>

<mat-card class="card" fxLayout="row wrap" fxLayoutAlign="space-around none"  fxFlex="75%" fxFlex.gt-sm="18%" fxFlex.sm="45%" fxFlex.md="30%">

    <div fxFlex="50%" fxFlex.md="30%" fxFlex.sm="35%" style="padding-top:20px; font-size:70px">
    <span>
      <mat-card-title >61</mat-card-title>
    <mat-card-subtitle>Staff</mat-card-subtitle>
    </span>
 </div>
    <div [class]="activeClass" class="purple" fxFlex="50%" fxFlex.sm="30%" fxFlex.xs="30%" fxFlex.md="30%">
    <span>
    <i class="fas fa-user-tie font"></i>
    </span> 
    </div>
    <div fxFlex="100%">
    <mat-divider></mat-divider>
    <mat-card-actions>view Details</mat-card-actions>
    </div>

</mat-card>

<mat-card class="card" fxLayout="row wrap" fxLayoutAlign="space-around none"  fxFlex="75%" fxFlex.gt-sm="18%" fxFlex.sm="45%" fxFlex.md="30%">

    <div fxFlex="50%" fxFlex.md="30%" fxFlex.sm="35%" style="padding-top:20px; font-size:70px">
    <span>
      <mat-card-title >61</mat-card-title>
    <mat-card-subtitle>Guardins</mat-card-subtitle>
    </span>
 </div>
    <div [class]="activeClass" class="orange" fxFlex="50%" fxFlex.sm="30%" fxFlex.xs="30%" fxFlex.md="30%">
    <span>
    <mat-icon>supervisor_account</mat-icon>
    </span> 
    </div>
    <div fxFlex="100%">
    <mat-divider></mat-divider>
    <mat-card-actions>view Details</mat-card-actions>
    </div>

</mat-card>


 
<div fxFlex="35%" fxFlex.lt-md="95">
<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions" 
   style = " height: 300px; display: block; margin-top:10px;">
</highcharts-chart>
</div>
<div fxFlex="30%" fxFlex.md="45" fxFlex.lt-md="95">
<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chart2Options" 
   style = " height: 300px; display: block;margin-top:10px">
</highcharts-chart>
</div>

<div fxFlex="30%" fxFlex.md="45" fxFlex.lt-md="95">
<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chart3Options" 
   style = "height: 300px; display: block;margin-top:10px">
</highcharts-chart>
</div>

</div>
