<mat-card >
    <mat-card-header>
      <mat-card-title>My Subjects</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item>
                <span mat-line>Economis</span>
                <button mat-button routerLink="/student/enrollments">
                    view
                    <mat-icon class="mat-24">visibility</mat-icon>
                  </button>
            </mat-list-item>
            
            <mat-list-item ><span mat-line>Government</span>
              <button mat-button>
                    view
                    <mat-icon class="mat-24">visibility</mat-icon>
                  </button>
            </mat-list-item>
            
            <mat-list-item><span mat-line>Mathematics</span>
              <button mat-button>
                    view
                    <mat-icon class="mat-24">visibility</mat-icon>
                  </button>
            </mat-list-item>
            
            <mat-list-item><span mat-line>English</span>
                <button mat-button routerLink="/student/enrollments">
                      view
                      <mat-icon class="mat-24">visibility</mat-icon>
                    </button>
              </mat-list-item>
            
          </mat-list>
    </mat-card-content>
  </mat-card>