<div fxLayout="row wrap" fxLayoutAlign="center none" class="mt" >
    <mat-card fxFlex="85%" fxLayout="column" fxLayoutAlign="space-between none">
        <div>
            <mat-card-header >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Name</mat-card-title>
                    <mat-card-subtitle>About Me</mat-card-subtitle>
                </mat-card-header>
            </mat-card-header>
            <mat-divider></mat-divider>
        </div>

        <div class="mt">
            <mat-card-content dir="ltr">
                <table class="tab">

                    <tr>
                        <td>Name</td>
                        <td>{{teacher.LastName}} {{teacher.FirstName}}</td>
                    </tr>
               <!--     <tr>
                        <td>Address</td>
                        <td>{{teacher.Address}}</td>

                    </tr>-->
                    <tr>
                        <td>Phone Number</td>
                        <td>{{teacher.PhoneNumber}}</td>

                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{Gender[teacher.Gender]}}</td>
                    </tr>
                </table>

            </mat-card-content>

        </div>
    </mat-card>

    <mat-card fxFlex="85%" class="mt">
        <div>
            <mat-card-header >
                <mat-card-header>
                    <mat-card-title>Subjects</mat-card-title> 
                </mat-card-header>
            </mat-card-header>
            <mat-divider></mat-divider>
        </div>
            <mat-card-content>
               <mat-nav-list>
        <a *ngFor="let subject of teacher.TeacherSubjects" mat-list-item  [routerLink]="['/teacher/subject', subject.ClassSubjectID, subject.Title,Class[subject.Class]+Arm[subject.Arm]]" routerLinkActive="activebutton">

            <span>{{subject.Title}} {{Class[subject.Class]}} {{Arm[subject.Arm]}}</span>
            <mat-divider></mat-divider>

        </a>

        
       
       

    </mat-nav-list>
            </mat-card-content>

       
    </mat-card>
</div>