<mat-nav-list class='pm'>
    <a mat-list-item class="span-white button" routerLink="/admin/administration/register-schools" routerLinkActive="activebutton" (click)="onSidenavClose()" >
            <span>Register Schools</span>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item class="span-white button" routerLink="/admin/administration/create-admin" routerLinkActive="activebutton" (click)="onSidenavClose()" >
            <span>Create Admin </span>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item class="span-white button" routerLink="/admin/administration/delete-admin" routerLinkActive="activebutton" (click)="onSidenavClose()">
            <span>Delete Admin</span>
        </a>

        <mat-divider></mat-divider>
        <a mat-list-item class="span-white button" routerLink="/admin/administration/create-subjects" routerLinkActive="activebutton" (click)="onSidenavClose()" >
            <span>Create Subject</span>
        </a>

        <mat-divider></mat-divider> 
      
      <a mat-list-item class="span-white button" routerLink="/admin/administration/create-roles" routerLinkActive="activebutton" (click)="onSidenavClose()" >
            <span>Create Roles</span>
        </a>
        <mat-divider></mat-divider>
       <a mat-list-item class="span-white button" routerLink="/school/admin/administration/revoke-admin-access" routerLinkActive="activebutton" (click)="onSidenavClose()" >
            <span>Revoke Admin Access</span>
        </a>

    </mat-nav-list>
    
